#include <epivers.h>
#include <vendor.h>

#ifdef RC_INVOKED
#include <winver.h>
#endif

#include <OEMDefs.h>

#define	DRV_NAME	"wireless driver"
#if defined(NDIS630) || defined(NDIS640)
#ifdef BCMDONGLEHOST
#define	DRV_FILENAME	"bcmdhd63.sys"
#else
#define	DRV_FILENAME	"bcmwl63.sys"
#endif
#elif defined(NDIS60) || defined(NDIS620)
#define	DRV_FILENAME	"bcmwl6.sys"
#else
#define	DRV_FILENAME	"bcmwl5.sys"
#endif

#ifdef EXT_STA
#define VER_LANGNEUTRAL
#endif /* EXT_STA */

#undef VER_FILEDESCRIPTION_STR
#undef VER_INTERNALNAME_STR
#undef VER_PRODUCTNAME_STR
#undef VER_LEGALCOPYRIGHT_STR
#undef VER_COMPANYNAME_STR

#undef NIC_DRIVER_SYS
#if defined(NDIS630) || defined(NDIS640)
#ifdef BCMDONGLEHOST
#define	NIC_DRIVER_SYS	"bcmdhd63"
#else
#define NIC_DRIVER_SYS "bcmwl63"
#endif
#elif defined(NDIS60) || defined(NDIS620)
#define NIC_DRIVER_SYS "bcmwl6"
#else
#define NIC_DRIVER_SYS "bcmwl5"
#endif

#if defined(NDIS640)
#define NDIS_STR	" NDIS 6.40"
#elif defined(NDIS630)
#define NDIS_STR	" NDIS 6.30"
#elif defined(NDIS620)
#define NDIS_STR	" NDIS 6.20"
#elif defined(NDIS60)
#define NDIS_STR	" NDIS 6.0"
#elif defined(NDIS51)
#define NDIS_STR	" NDIS 5.1 "
#elif defined(NDIS50)
#define NDIS_STR	" NDIS 5.0 "
#endif

#define VER_FILEDESCRIPTION_STR 	OEM_SHORT_PRODUCT_NAME " " DRV_NAME
#define VER_INTERNALNAME_STR		DRV_FILENAME
#define VER_PRODUCTNAME_STR		OEM_FULL_PRODUCT_NAME " " DRV_NAME
#define VER_LEGALCOPYRIGHT_STR		VER_LEGALCOPYRIGHT_YEARS ", Broadcom Corp. All Rights Rsvd"
#define	VER_COMPANYNAME_STR		OEM_FULL_COMPANY_NAME

//-----------------------------------------------
// the following lines are specific to this file
//-----------------------------------------------

// VER_FILETYPE, VER_FILESUBTYPE, VER_FILEDESCRIPTION_STR
// and VER_INTERNALNAME_STR must be defined before including COMMON.VER
// The strings don't need a '\0', since common.ver has them.

#define VER_FILETYPE    VFT_DRV

#define VER_FILESUBTYPE VFT2_DRV_NETWORK

// Define our own file name and description

#define VER_ORIGINALFILENAME_STR    VER_INTERNALNAME_STR

// Define our driver version
#define VER_FILEVERSION		VEN_FILEVERSION_NUM
#define VER_FILEVERSION_NUM	VEN_FILEVERSION_NUM
#define VER_FILEVERSION_STR	VEN_FILEVERSION_STR

#define VER_FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
#define VER_FILEFLAGS		0
#define VER_FILEOS		VOS_NT_WINDOWS32

#undef  __BUILDMACHINE__

#ifdef RC_INVOKED
#include "common.ver"
#endif

